.btn {
  display: inline-block;
	position: relative;
	font-family: 'Roboto Mono', 'Open Sans';
  cursor: pointer;
  padding: 0 22px;
	line-height: 26px;
	font-size: 16px;
  color: #fff;
  text-align: center;
	text-transform: uppercase;
	border-radius: 4px;

	
	border: 2px solid $color3;
	background: $color3;	
	
	&:hover {
		background: $color2;
	}
	&.block {
    display: block;
    width: 100%;
	}

	&.lg {
		line-height: 45px;
	}

	&.outline {
		color: $color1;
		border-color: $color1;
		background: transparent;

		&:hover {
			color: #fff;
			background: $color2;
		}
	}
}
