.card-season {
	display: inline-block;
	flex: none;
	width: 200px;
	cursor: pointer;
	color: #fff;

	&:hover {
		box-shadow: 0 0 5px 0px #456990;
	}

	.card-code,
	.card-title {
		background: $color3;
	}

	.card-seadons {
		background: $color2;
	}



	.card-poster {
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
		height: 294px;
		background: $color2;

		.img-poster {
			width: 100%;
		}

		svg {
			width: 15px;
		}
	}
}
