@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Open+Sans:100,100i,300,300i,400,400i,700,700i,900,900i');

$color1: #456990;
$color2: #114b5f;
$color3: #028090;
$color4: #e4fde1;
$color5: #f45b69;

@import './partials/flex-row';
@import './partials/default';
@import './partials/button';
@import './partials/cards';

