@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Open+Sans:100,100i,300,300i,400,400i,700,700i,900,900i');

$color1: #7f5985;
$color2: #bf5a7a;
$color3: #f66b88;

@import './partials/default';
